:root{
    --primary-color: #0d1157;
    --primary-light-color: #3b43d4;
    --ash-color: rgb(121, 121, 121);
    --gray-color: rgb(190,193,224);
    --backgroud-color: rgb(242,243, 247)
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: white;
    color: #fff;
}

h1, h2, h3, h4{
    color: white;
}
i{
    color:white;
}
a{
    color: white;
    text-decoration: none;
}
p{
    color:white;
}
img{
    width: 100%;
}

.Showcase{
    width: 100%;
    height: 110vh;
    position: relative;
    background: var(--primary-color);
    overflow: hidden;
}
.Showcase-top{
    height: 70px;
    background: var(--primary-color);
    position: relative;
    border-bottom: 1px solid var(--ash-color);
    z-index: 2;
}
.Showcase .main-icon{
    position: absolute;
    left: 70%;
    top: 60%;
    width: 600px;
    transform: translate(-50%, -50%);
}
.Showcase .back-icon-1{
    position: absolute;
    left: 15%;
    top: 20%;
    width: 100px;
    transform: translate(-50%, -50%);
}
.Showcase .back-icon-2{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70px;
    transform: translate(-50%, -50%);
}
.Showcase .back-icon-3{
    position: absolute;
    left: 90%;
    top: 15%;
    width: 300px;
    transform: translate(-50%, -50%);
}
.Showcase .back-icon-4{
    position: absolute;
    left: 20%;
    top: 100%;
    width: 300px;
    transform: translate(-50%, -50%);
}
.Showcase-top img{
    width: 30px;
    position: absolute;
    height: 30px;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%); 
}
.Showcase-top p{
    width: 150px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%); 
}
.Showcase-top div{
    position: absolute;
    width: 750px;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%); 
}
.Showcase-content{
    position: relative;
    left: 10%;
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-top: 15rem;
    z-index: 2;
}
.Showcase-content .title{
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 2rem;
    font-weight: 400;
}
.Showcase-content .text{
    line-height: 1.1;
    margin-bottom: 3rem;
    font-weight: 400;
}

/* Section */

.section-1{
    width: 100%;
    height: 110vh;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    background: var(--backgroud-color);
}

/* Container */

.container{
    position: relative;
    background: white;
    padding: 2rem;
    color: var(--primary-color);
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}
.top{
    width: 80%;
    position: absolute;
    display: flex;
    bottom: 100%;
    height: 157px;
    left: 50%;
    transform: translate(-50%, 50%);
}
.container-middle{
    margin-top: 7%;
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 80%;
}
.middle{
    width: 100%;
    height: 80vh;
    padding: 2rem;
}
.box-1{
    width: 65%;
}
.box-1 div{
    display: flex;
}
.box-1 div p{
    color: var(--primary-color);
}
.box-1 img{
    margin: 0.7rem 0;
    border: 1px solid var(--gray-color);
}
#p-1{
    margin-right: 15%;
    color: var(--primary-color);
    font-size: large;
}
#p-2{
    margin: 0 10%;
    color: var(--primary-light-color);
}
#p-3{
    color: var(--primary-light-color);
}

.box-2{
   width: 30%;
   padding: 2.5rem 1.5rem;
}
.box-2 input{
    padding: 0.6rem 1.3rem; 
    width: 100%;
    border: 3px solid var(--gray-color);
    border-radius: 5px;
    margin: 0.5rem 0;
}
.box-2 div{
    display: flex;
    padding: 0.6rem 1.3rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--backgroud-color);
    border-radius: 5px;
    margin: 0.5rem 0;
}
.box-2 div img{
    width: 30px;
    height: 30px;
}
.box-2 div p{
    color: rgb(59, 59, 59);
    text-align: right;
}
.countries{
    margin-right: 15%;
    justify-content: left;
    text-align: left;
}
   
#box-2-global{
    display: flex;
    padding: 0.6rem 1.3rem;
    justify-content: space-between;
    background: none;
    width: 100%;
    border: 3px solid var(--ash-color);
    border-radius: 5px;
    margin: 0.5rem 0;
}
#box-2-global p{
    color: var(--ash-color);
}

.box-2 hr{
    width: 100%;
    border: 2px solid var(--gray-color);
    margin: 1rem 0;
}
.container-item{
    display: flex;
    position: relative;
    margin: 0.8rem 1.2rem;
}
.container-item img{
    width: 70px;
    height: 70px;
}
.container-item div p{
    color: var(--primary-light-color);
    margin-bottom: 1.2rem;
}
.container-item div a{
    color: var(--primary-color);
    font-size: 1.5rem;
}
.container-item div i{
    color: var(--primary-light-color);
    font-size: 1.5rem;
    margin: 0 0.5rem;
}
.container-item div .live{
    width: 5px;
    height: 5px;
}
.container-item .btn-3{
    font-size: 5px;
}


/* Button */

.btn{
    display: inline;
    background: white;
    color: white;
    padding: 0.6rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin: 0.5rem 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.text-btn{
    margin: 0 1.5rem;
    color: var(--gray-color);
}

.home{
    color: rgb(235, 0, 101);
}
.btn-1{
    width: 50%;
    background: rgb(235, 0, 101);;
}
.btn-2{
    width: 50%;
    background: var(--primary-color);
    border: 1px solid white;
}
.btn-3{
    background:  rgb(248, 130, 181);
    border: 1px solid red;
    width: 1px;
    height: 3px;
}
